### Chamada da biblioteca

In [21]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

### Inicializando o Sessão do Spark

In [5]:
spark = SparkSession.builder \
                    .appName("Tutorial PySpark SQL") \
                    .config("spark.some.config.option", "some-value") \
                    .getOrCreate()

### Lendo dataframe com spark DataFrame

In [8]:
df = spark.read.csv('../data/DNPBA2017.csv', header=True)

### Identificando a estrutura da base

In [9]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- NUMERODN: string (nullable = true)
 |-- CODINST: string (nullable = true)
 |-- ORIGEM: string (nullable = true)
 |-- NUMERODV: string (nullable = true)
 |-- PREFIXODN: string (nullable = true)
 |-- CODESTAB: string (nullable = true)
 |-- CODMUNNASC: string (nullable = true)
 |-- LOCNASC: string (nullable = true)
 |-- IDADEMAE: string (nullable = true)
 |-- ESTCIVMAE: string (nullable = true)
 |-- ESCMAE: string (nullable = true)
 |-- CODOCUPMAE: string (nullable = true)
 |-- QTDFILVIVO: string (nullable = true)
 |-- QTDFILMORT: string (nullable = true)
 |-- CODMUNRES: string (nullable = true)
 |-- GESTACAO: string (nullable = true)
 |-- GRAVIDEZ: string (nullable = true)
 |-- PARTO: string (nullable = true)
 |-- CONSULTAS: string (nullable = true)
 |-- DTNASC: string (nullable = true)
 |-- HORANASC: string (nullable = true)
 |-- SEXO: string (nullable = true)
 |-- APGAR1: string (nullable = true)
 |-- APGAR5: string (nullable = true)
 |-- RACACOR: string (nullable = true)
 |-- PESO: string (nullable = true)
 |-- IDANOMAL: string (nullable = true)
 |-- DTCADASTRO: string (nullable = true)
 |-- CODANOMAL: string (nullable = true)
 |-- NUMEROLOTE: string (nullable = true)
 |-- VERSAOSIST: string (nullable = true)
 |-- DTRECEBIM: string (nullable = true)
 |-- DIFDATA: string (nullable = true)
 |-- DTRECORIGA: string (nullable = true)
 |-- NATURALMAE: string (nullable = true)
 |-- CODMUNNATU: string (nullable = true)
 |-- CODUFNATU: string (nullable = true)
 |-- ESCMAE2010: string (nullable = true)
 |-- SERIESCMAE: string (nullable = true)
 |-- DTNASCMAE: string (nullable = true)
 |-- RACACORMAE: string (nullable = true)
 |-- QTDGESTANT: string (nullable = true)
 |-- QTDPARTNOR: string (nullable = true)
 |-- QTDPARTCES: string (nullable = true)
 |-- IDADEPAI: string (nullable = true)
 |-- DTULTMENST: string (nullable = true)
 |-- SEMAGESTAC: string (nullable = true)
 |-- TPMETESTIM: string (nullable = true)
 |-- CONSPRENAT: string (nullable = true)
 |-- MESPRENAT: string (nullable = true)
 |-- TPAPRESENT: string (nullable = true)
 |-- STTRABPART: string (nullable = true)
 |-- STCESPARTO: string (nullable = true)
 |-- TPNASCASSI: string (nullable = true)
 |-- TPFUNCRESP: string (nullable = true)
 |-- TPDOCRESP: string (nullable = true)
 |-- DTDECLARAC: string (nullable = true)
 |-- ESCMAEAGR1: string (nullable = true)
 |-- STDNEPIDEM: string (nullable = true)
 |-- STDNNOVA: string (nullable = true)
 |-- CODPAISRES: string (nullable = true)
 |-- TPROBSON: string (nullable = true)
 |-- PARIDADE: string (nullable = true)
 |-- KOTELCHUCK: string (nullable = true)

### Quantificando os registros da base

In [10]:
df.count()

203715

In [12]:
df.select('CODMUNRES').distinct().count()

418

### Retornando sexo e data de nascimento dos nascidos

In [15]:
df.select('SEXO', 'DTNASC').show()

+----+--------+
|SEXO|  DTNASC|
+----+--------+
|   1|24012017|
|   1|27032017|
|   1|29052017|
|   1|19012017|
|   2|23012017|
|   1|02032017|
|   2|27032017|
|   1|11062017|
|   2|23022017|
|   1|24012017|
|   2|07022017|
|   2|27032017|
|   1|28032017|
|   2|29032017|
|   2|19052017|
|   1|23032017|
|   1|02012017|
|   1|23012017|
|   1|08012017|
|   2|25042017|
+----+--------+
only showing top 20 rows

### Retornando sexo e data de nascimento da 3 crianças mais velhas da base

In [18]:
df.select('SEXO', 'DTNASC').orderBy('DTNASC').take(3)

[Row(SEXO='2', DTNASC='01012017'),
 Row(SEXO='1', DTNASC='01012017'),
 Row(SEXO='1', DTNASC='01012017')]

In [19]:
df.select('SEXO', 'DTNASC').orderBy('DTNASC').show(3)

+----+--------+
|SEXO|  DTNASC|
+----+--------+
|   2|01012017|
|   1|01012017|
|   1|01012017|
+----+--------+
only showing top 3 rows

In [29]:
df.select('SEXO', 'DTNASC').orderBy('DTNASC').first()

Row(SEXO='2', DTNASC='01012017')

### Contar os nascimentos que ocorreram em 01 de 01 de 2017

In [22]:
df.filter(F.col('DTNASC') == '01012017').count()

374

In [30]:
df.select('DTNASC', F.when(F.substring(F.col('DTNASC'), 2,4) == '07', 1).otherwise(0)).show()

+--------+----------------------------------------------------------+
|  DTNASC|CASE WHEN (substring(DTNASC, 2, 4) = 07) THEN 1 ELSE 0 END|
+--------+----------------------------------------------------------+
|24012017|                                                         0|
|27032017|                                                         0|
|29052017|                                                         0|
|19012017|                                                         0|
|23012017|                                                         0|
|02032017|                                                         0|
|27032017|                                                         0|
|11062017|                                                         0|
|23022017|                                                         0|
|24012017|                                                         0|
|07022017|                                                         0|
|27032017|                                                         0|
|28032017|                                                         0|
|29032017|                                                         0|
|19052017|                                                         0|
|23032017|                                                         0|
|02012017|                                                         0|
|23012017|                                                         0|
|08012017|                                                         0|
|25042017|                                                         0|
+--------+----------------------------------------------------------+
only showing top 20 rows

In [38]:
df.select('DTNASC', F.when(F.substring(F.col('DTNASC'), 3,2) == '03', 1).otherwise(0)).show()

+--------+----------------------------------------------------------+
|  DTNASC|CASE WHEN (substring(DTNASC, 3, 2) = 03) THEN 1 ELSE 0 END|
+--------+----------------------------------------------------------+
|24012017|                                                         0|
|27032017|                                                         1|
|29052017|                                                         0|
|19012017|                                                         0|
|23012017|                                                         0|
|02032017|                                                         1|
|27032017|                                                         1|
|11062017|                                                         0|
|23022017|                                                         0|
|24012017|                                                         0|
|07022017|                                                         0|
|27032017|                                                         1|
|28032017|                                                         1|
|29032017|                                                         1|
|19052017|                                                         0|
|23032017|                                                         1|
|02012017|                                                         0|
|23012017|                                                         0|
|08012017|                                                         0|
|25042017|                                                         0|
+--------+----------------------------------------------------------+
only showing top 20 rows

In [39]:
df = df.withColumn('MESNASC', F.substring(F.col('DTNASC'), 3,2))

In [40]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- NUMERODN: string (nullable = true)
 |-- CODINST: string (nullable = true)
 |-- ORIGEM: string (nullable = true)
 |-- NUMERODV: string (nullable = true)
 |-- PREFIXODN: string (nullable = true)
 |-- CODESTAB: string (nullable = true)
 |-- CODMUNNASC: string (nullable = true)
 |-- LOCNASC: string (nullable = true)
 |-- IDADEMAE: string (nullable = true)
 |-- ESTCIVMAE: string (nullable = true)
 |-- ESCMAE: string (nullable = true)
 |-- CODOCUPMAE: string (nullable = true)
 |-- QTDFILVIVO: string (nullable = true)
 |-- QTDFILMORT: string (nullable = true)
 |-- CODMUNRES: string (nullable = true)
 |-- GESTACAO: string (nullable = true)
 |-- GRAVIDEZ: string (nullable = true)
 |-- PARTO: string (nullable = true)
 |-- CONSULTAS: string (nullable = true)
 |-- DTNASC: string (nullable = true)
 |-- HORANASC: string (nullable = true)
 |-- SEXO: string (nullable = true)
 |-- APGAR1: string (nullable = true)
 |-- APGAR5: string (nullable = true)
 |-- RACACOR: string (nullable = true)
 |-- PESO: string (nullable = true)
 |-- IDANOMAL: string (nullable = true)
 |-- DTCADASTRO: string (nullable = true)
 |-- CODANOMAL: string (nullable = true)
 |-- NUMEROLOTE: string (nullable = true)
 |-- VERSAOSIST: string (nullable = true)
 |-- DTRECEBIM: string (nullable = true)
 |-- DIFDATA: string (nullable = true)
 |-- DTRECORIGA: string (nullable = true)
 |-- NATURALMAE: string (nullable = true)
 |-- CODMUNNATU: string (nullable = true)
 |-- CODUFNATU: string (nullable = true)
 |-- ESCMAE2010: string (nullable = true)
 |-- SERIESCMAE: string (nullable = true)
 |-- DTNASCMAE: string (nullable = true)
 |-- RACACORMAE: string (nullable = true)
 |-- QTDGESTANT: string (nullable = true)
 |-- QTDPARTNOR: string (nullable = true)
 |-- QTDPARTCES: string (nullable = true)
 |-- IDADEPAI: string (nullable = true)
 |-- DTULTMENST: string (nullable = true)
 |-- SEMAGESTAC: string (nullable = true)
 |-- TPMETESTIM: string (nullable = true)
 |-- CONSPRENAT: string (nullable = true)
 |-- MESPRENAT: string (nullable = true)
 |-- TPAPRESENT: string (nullable = true)
 |-- STTRABPART: string (nullable = true)
 |-- STCESPARTO: string (nullable = true)
 |-- TPNASCASSI: string (nullable = true)
 |-- TPFUNCRESP: string (nullable = true)
 |-- TPDOCRESP: string (nullable = true)
 |-- DTDECLARAC: string (nullable = true)
 |-- ESCMAEAGR1: string (nullable = true)
 |-- STDNEPIDEM: string (nullable = true)
 |-- STDNNOVA: string (nullable = true)
 |-- CODPAISRES: string (nullable = true)
 |-- TPROBSON: string (nullable = true)
 |-- PARIDADE: string (nullable = true)
 |-- KOTELCHUCK: string (nullable = true)
 |-- MESNASC: string (nullable = true)

In [41]:
df.groupBy('MESNASC').count().orderBy('MESNASC').show()

+-------+-----+
|MESNASC|count|
+-------+-----+
|     01|15924|
|     02|15787|
|     03|18435|
|     04|17821|
|     05|18952|
|     06|18041|
|     07|17118|
|     08|16643|
|     09|15984|
|     10|16423|
|     11|16337|
|     12|16250|
+-------+-----+

In [42]:
tot = df.count()
df.groupBy('MESNASC').count().orderBy('MESNASC').withColumn('%', F.col('count')/tot*100).show()

+-------+-----+-----------------+
|MESNASC|count|                %|
+-------+-----+-----------------+
|     01|15924|7.816802886385392|
|     02|15787|7.749552070294284|
|     03|18435|9.049407260142846|
|     04|17821|8.748005792406058|
|     05|18952|9.303193186559655|
|     06|18041|8.855999803647252|
|     07|17118|8.402915838303512|
|     08|16643|8.169746950396387|
|     09|15984|7.846255798542081|
|     10|16423|8.061752939155193|
|     11|16337| 8.01953709839727|
|     12|16250|7.976830375770071|
+-------+-----+-----------------+

In [45]:
df.select(F.substring(F.col('DTNASC'), 3, 2), 'DTNASC').show() #a partir da posição 3 contando 2 casas

+-----------------------+--------+
|substring(DTNASC, 3, 2)|  DTNASC|
+-----------------------+--------+
|                     01|24012017|
|                     03|27032017|
|                     05|29052017|
|                     01|19012017|
|                     01|23012017|
|                     03|02032017|
|                     03|27032017|
|                     06|11062017|
|                     02|23022017|
|                     01|24012017|
|                     02|07022017|
|                     03|27032017|
|                     03|28032017|
|                     03|29032017|
|                     05|19052017|
|                     03|23032017|
|                     01|02012017|
|                     01|23012017|
|                     01|08012017|
|                     04|25042017|
+-----------------------+--------+
only showing top 20 rows

In [44]:
df.select(F.substring(F.col('DTNASC'), 3, 2).alias('mes'), 'DTNASC').show() #a partir da posição 3 contando 2 casas

+---+--------+
|mes|  DTNASC|
+---+--------+
| 01|24012017|
| 03|27032017|
| 05|29052017|
| 01|19012017|
| 01|23012017|
| 03|02032017|
| 03|27032017|
| 06|11062017|
| 02|23022017|
| 01|24012017|
| 02|07022017|
| 03|27032017|
| 03|28032017|
| 03|29032017|
| 05|19052017|
| 03|23032017|
| 01|02012017|
| 01|23012017|
| 01|08012017|
| 04|25042017|
+---+--------+
only showing top 20 rows

In [46]:
df.filter(F.col('CODMUNRES').startswith("29")).count()

203715

In [47]:
df.filter(F.col('CODMUNRES').startswith("29")).select('CODMUNRES').show()

+---------+
|CODMUNRES|
+---------+
|   291110|
|   291110|
|   291955|
|   291955|
|   291955|
|   290000|
|   291955|
|   290000|
|   292440|
|   292840|
|   291110|
|   291110|
|   292840|
|   291110|
|   292840|
|   291110|
|   290590|
|   290590|
|   292440|
|   291840|
+---------+
only showing top 20 rows

In [49]:
df.filter(F.col('CODMUNRES').endswith("2740")).count()

35366

In [50]:
df.filter(F.col('CODMUNRES').endswith("2740")).select('CODMUNRES').show()

+---------+
|CODMUNRES|
+---------+
|   292740|
|   292740|
|   292740|
|   292740|
|   292740|
|   292740|
|   292740|
|   292740|
|   292740|
|   292740|
|   292740|
|   292740|
|   292740|
|   292740|
|   292740|
|   292740|
|   292740|
|   292740|
|   292740|
|   292740|
+---------+
only showing top 20 rows

In [52]:
df.describe('PESO').show()

+-------+------------------+
|summary|              PESO|
+-------+------------------+
|  count|            203715|
|   mean|3198.3266173979227|
| stddev| 575.2462242684788|
|    min|              0110|
|    max|                NA|
+-------+------------------+

In [54]:
df.filter(F.col('PESO')=='NA').count()

70

In [55]:
df.filter(F.col('PESO').isNull()).count()

0

In [57]:
df =df.withColumn('NOVO_PESO', F.when(F.col('PESO') == 'NA', None).otherwise(F.col('PESO')))

In [59]:
df.filter(F.col('PESO')=='NA').select('PESO', 'NOVO_PESO').show()

+----+---------+
|PESO|NOVO_PESO|
+----+---------+
|  NA|     null|
|  NA|     null|
|  NA|     null|
|  NA|     null|
|  NA|     null|
|  NA|     null|
|  NA|     null|
|  NA|     null|
|  NA|     null|
|  NA|     null|
|  NA|     null|
|  NA|     null|
|  NA|     null|
|  NA|     null|
|  NA|     null|
|  NA|     null|
|  NA|     null|
|  NA|     null|
|  NA|     null|
|  NA|     null|
+----+---------+
only showing top 20 rows

In [61]:
df.filter(F.col('PESO')!='NA').select('PESO', 'NOVO_PESO').show()

+----+---------+
|PESO|NOVO_PESO|
+----+---------+
|3150|     3150|
|3300|     3300|
|3330|     3330|
|3610|     3610|
|3770|     3770|
|3140|     3140|
|2775|     2775|
|2490|     2490|
|3450|     3450|
|3270|     3270|
|3000|     3000|
|3200|     3200|
|3250|     3250|
|3600|     3600|
|3650|     3650|
|3190|     3190|
|2820|     2820|
|1900|     1900|
|3800|     3800|
|3130|     3130|
+----+---------+
only showing top 20 rows

In [62]:
df = df.withColumnRenamed('NOVO_PESO', 'PESO_PP') #PESO PRE PROCESSADO

In [63]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- NUMERODN: string (nullable = true)
 |-- CODINST: string (nullable = true)
 |-- ORIGEM: string (nullable = true)
 |-- NUMERODV: string (nullable = true)
 |-- PREFIXODN: string (nullable = true)
 |-- CODESTAB: string (nullable = true)
 |-- CODMUNNASC: string (nullable = true)
 |-- LOCNASC: string (nullable = true)
 |-- IDADEMAE: string (nullable = true)
 |-- ESTCIVMAE: string (nullable = true)
 |-- ESCMAE: string (nullable = true)
 |-- CODOCUPMAE: string (nullable = true)
 |-- QTDFILVIVO: string (nullable = true)
 |-- QTDFILMORT: string (nullable = true)
 |-- CODMUNRES: string (nullable = true)
 |-- GESTACAO: string (nullable = true)
 |-- GRAVIDEZ: string (nullable = true)
 |-- PARTO: string (nullable = true)
 |-- CONSULTAS: string (nullable = true)
 |-- DTNASC: string (nullable = true)
 |-- HORANASC: string (nullable = true)
 |-- SEXO: string (nullable = true)
 |-- APGAR1: string (nullable = true)
 |-- APGAR5: string (nullable = true)
 |-- RACACOR: string (nullable = true)
 |-- PESO: string (nullable = true)
 |-- IDANOMAL: string (nullable = true)
 |-- DTCADASTRO: string (nullable = true)
 |-- CODANOMAL: string (nullable = true)
 |-- NUMEROLOTE: string (nullable = true)
 |-- VERSAOSIST: string (nullable = true)
 |-- DTRECEBIM: string (nullable = true)
 |-- DIFDATA: string (nullable = true)
 |-- DTRECORIGA: string (nullable = true)
 |-- NATURALMAE: string (nullable = true)
 |-- CODMUNNATU: string (nullable = true)
 |-- CODUFNATU: string (nullable = true)
 |-- ESCMAE2010: string (nullable = true)
 |-- SERIESCMAE: string (nullable = true)
 |-- DTNASCMAE: string (nullable = true)
 |-- RACACORMAE: string (nullable = true)
 |-- QTDGESTANT: string (nullable = true)
 |-- QTDPARTNOR: string (nullable = true)
 |-- QTDPARTCES: string (nullable = true)
 |-- IDADEPAI: string (nullable = true)
 |-- DTULTMENST: string (nullable = true)
 |-- SEMAGESTAC: string (nullable = true)
 |-- TPMETESTIM: string (nullable = true)
 |-- CONSPRENAT: string (nullable = true)
 |-- MESPRENAT: string (nullable = true)
 |-- TPAPRESENT: string (nullable = true)
 |-- STTRABPART: string (nullable = true)
 |-- STCESPARTO: string (nullable = true)
 |-- TPNASCASSI: string (nullable = true)
 |-- TPFUNCRESP: string (nullable = true)
 |-- TPDOCRESP: string (nullable = true)
 |-- DTDECLARAC: string (nullable = true)
 |-- ESCMAEAGR1: string (nullable = true)
 |-- STDNEPIDEM: string (nullable = true)
 |-- STDNNOVA: string (nullable = true)
 |-- CODPAISRES: string (nullable = true)
 |-- TPROBSON: string (nullable = true)
 |-- PARIDADE: string (nullable = true)
 |-- KOTELCHUCK: string (nullable = true)
 |-- MESNASC: string (nullable = true)
 |-- PESO_PP: string (nullable = true)

In [64]:
df.describe('PESO_PP').show()

+-------+------------------+
|summary|           PESO_PP|
+-------+------------------+
|  count|            203645|
|   mean|3198.3266173979227|
| stddev| 575.2462242684788|
|    min|              0110|
|    max|              6710|
+-------+------------------+

In [68]:
df.filter(F.col('PESO_PP').between('0110', '6710' )).count()

203645

In [69]:
df.filter(F.col('PESO_PP').between('0110', '0710')).count()

804

In [70]:
df.filter(F.col('PESO_PP').between('0110', '0710')).select('PESO_PP').show()

+-------+
|PESO_PP|
+-------+
|   0160|
|   0695|
|   0445|
|   0385|
|   0675|
|   0335|
|   0535|
|   0660|
|   0470|
|   0690|
|   0360|
|   0315|
|   0540|
|   0440|
|   0550|
|   0625|
|   0605|
|   0550|
|   0390|
|   0358|
+-------+
only showing top 20 rows

In [75]:
df.filter((F.col('PESO_PP').between('0110', '0710'))).select('PESO_PP').orderBy(F.col('PESO_PP').desc()).show()

+-------+
|PESO_PP|
+-------+
|   0710|
|   0710|
|   0710|
|   0710|
|   0710|
|   0710|
|   0710|
|   0706|
|   0705|
|   0705|
|   0705|
|   0703|
|   0700|
|   0700|
|   0700|
|   0700|
|   0700|
|   0700|
|   0700|
|   0700|
+-------+
only showing top 20 rows

In [ ]:
# Desafio